<nav class="navbar">  
  <div class="navbar-brand">
    <a routerLink="/" class="brand-link">
      <img src="assets/images/profile/profilGH.png" class="brand-image" alt="Profile" />
    </a>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <fa-icon [icon]="faHome"></fa-icon>
        <span>{{ 'header.home' | translate }}</span>
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>{{ 'header.about' | translate }}</span>
      </a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">
        <fa-icon [icon]="faProjectDiagram"></fa-icon>
        <span>{{ 'header.projects' | translate }}</span>
      </a>
    </li>    
    <li>
      <a routerLink="/experience" routerLinkActive="active">
        <fa-icon [icon]="faBriefcase"></fa-icon>
        <span>{{ 'header.experience' | translate }}</span>
      </a>
    </li>
  </ul>
  <div class="nav-actions">
    <div class="theme-toggle">
      <fa-icon [icon]="isDarkMode ? faSun : faMoon" (click)="toggleTheme()"
        class="theme-icon"></fa-icon>
    </div>
    <div class="language-control">
      <app-language-switcher></app-language-switcher>
    </div>
  </div>
</nav>
<app-job-popup></app-job-popup>